* {
	box-sizing: border-box;
}

body {
	font-family: 'Impact', sans-serif;
	color: #3a3a3a;
	letter-spacing: 2px;
}

/* Navigation Link Codes */

a:hover {
  background-color: white;
	padding: 5px 5px;
	border-radius: 5px;
}

.main-nav {
	display: inline-block;
	  width: 100%;
	  height: 100px;
	  margin: 0 0;
		background-color: #993333;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
	display: inline;
}

.nav li {
display: inline-block;
margin-right: 15px;
background-color: #c4e4ed ;
padding: 10px 25px;
border-radius: 5px;
border-style: groove;
border-color: navy;
}

.name {
margin-right: 50px;
display: inline;
font-weight: bolder;
}


/* Header Codes */
header,p{
	text-align: center;
	margin-bottom: 50px;
}
.pschloarimg {
	max-width:50%;
  max-height:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

/* Form Codes*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #c4e4ed;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.academicneeds{
	margin-top: 25px;
	line-height: normal;
}

.academicneeds, li {
line-height: 25px;
}

.academicneeds2{
	margin-top: 25px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #993333;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 1000px;
  }

}


footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}



.fa-facebook {
  background: #993333;
  color: navy;
}

.fa-twitter {
  background: #993333;
  color: navy;
}

.fa-instagram {
  background: #993333;
  color: navy;
}

footer {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	padding-top: 25%
}
