* {
	box-sizing: border-box;
	padding-left: 1em;
	padding-right: 1em;

}


body {
	font-family: 'Impact', sans-serif;
	color: #3a3a3a;
	letter-spacing: 2px;
	padding-left: 10%;
	padding-right: 10%
}

/* Navigation Link Codes */

a:hover {
  background-color: white;
	padding: 5px 5px;
	border-radius: 5px;
}

.main-nav {
	display: inline-block;
	  width: 100%;
	  height: 100px;
	  margin: 0 0;
		background-color: #993333;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
	display: inline;
}

.nav li {
display: inline-block;
margin-right: 15px;
background-color: #c4e4ed ;
padding: 10px 25px;
border-radius: 5px;
border-style: groove;
border-color: navy;
}

.name {
margin-right: 50px;
display: inline;
font-weight: bolder;
}


/* Header Codes */
.pschloarimg {
	max-width:50%;
  max-height:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Principles Codes */
h1 {
	text-align: center;
}

p {
	text-align: center;
}

.principles {
	color: white;
   background-color: #993333;
   padding: 3% 3%;
   border-top: 10px solid #c4e4ed;
   margin: 105px 0 60px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

.imgprinciples {
	margin-right:100%;
	box-shadow: 3px 3px 5px 6px #ccc;


}

.mvp {
	display: flex;
}


.mission
	{color: white;
   background-color: #993333;
   padding: 3% 3%;
   border-top: 10px solid #c4e4ed;
   margin: 105px 0 60px;
	 display: block;
 }

 .mission p
 {text-align: left;}

 .mission p, h2{
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
 }


 .vision
 	{color: white;
    background-color: #993333;
    padding: 3% 3%;
    border-top: 10px solid #c4e4ed;
    margin: 105px 0 60px;
 	 display: block;
  }

  .vision p
  {text-align: left;}

  .vision p, h2{
 	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  }

	.purpose
	{color: white;
		background-color: #993333;
		padding: 3% 3%;
		border-top: 10px solid #c4e4ed;
		margin: 105px 0 60px;
	 display: block;
	}

	.purpose p
	{text-align: left;}

	.purpose p, h2{
	-webkit-text-stroke-width: 1px;
	 -webkit-text-stroke-color: black;
	}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 1 ;
}

/* Resume Codes */

.founder
	{color: white;
   background-color: #993333;
   padding: 3% 3%;
   border-top: 10px solid #c4e4ed;
   margin: 105px 0 60px;
	 display: block;
 }

 .founder p
 {text-align: left;}

 .founder h1
 {text-align: center;
  text:
 }

 .founder p, li, h1{
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
 }

.profpic {
	margin-left: 33%;
	margin-top: 0%;
	box-shadow: 3px 3px 5px 6px #ccc;
}


 * Footer */
 /* Style all font awesome icons */

 footer .copyright {
   top: -8px;
   margin-right: 20px;
   font-size: .75em;
 }

 footer ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 footer ul li {
   display: inline-block;
 }


 .fa {
   padding: 20px;
   font-size: 30px;
   width: 30px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
 }



/* Footer */
.fa-facebook {
  background: #993333;
  color: navy;
}

.fa-twitter {
  background: #993333;
  color: navy;
}

.fa-instagram {
  background: #993333;
  color: navy;
}

footer {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	padding-top: 25%
}




@media screen and (max-width: 640px) {

.nav li
{font-size: 12px;
	text-align: center;align
  }




.mvp {
	display: flex;
	width:200px;
	padding-right: 50px;
}

.founder {
width:500px;
padding-right: 50px;
}

.principles {
width:500px;
height:1000px
padding-right: 50px;
font-size: 12px;
}

.principles h2 {
text-align: center;
}

.principle, ul;{
	font-size: 12px
}
