* {
	box-sizing: border-box;
}




body {
	font-family: 'Impact', sans-serif;
	color: #3a3a3a;
	letter-spacing: 1px;


}

/* Navigation Link Codes */

a:hover {
  background-color: white;
	padding: 5px 5px;
	border-radius: 5px;
}

.main-nav {
	display: inline-block;
	  width: 100%;
	  height: 100px;
	  margin: 0 0;
		background-color: #993333;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
	display: inline;
}

.nav li {
display: inline-block;
margin-right: 15px;
background-color: #c4e4ed ;
padding: 10px 25px;
border-radius: 5px;
border-style: groove;
border-color: navy;
}

.name {
margin-right: 50px;
display: inline;
font-weight: bolder;
}


/* Header Codes */
.pschloarimg {
	max-width:50%;
  max-height:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Principles Codes */
h1 {
	text-align: center;
}

p {
	text-align: center;
}


/*resume*/


@media screen and (min-width: 720px) {

  .experience {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
		 }
		 .hiphop {
		   margin: 30px;
		   padding: 20px 40px 40px;
		   max-width: 500px;
		   text-align: left;
		   background: #c4e4ed;
		   border-bottom: 4px solid #ccc;
		   border-radius: 6px;
		 }
		 .hiphop:hover {
		   border-color: #ff99ff;
		 }

		 .spanish {
		 	margin: 30px;
		 	padding: 20px 40px 40px;
		 	max-width: 500px;
		 	text-align: left;
		 	background: #c4e4ed;
		 	border-bottom: 4px solid #ccc;
		 	border-radius: 6px;
		 }
		 .spanish:hover {
		 	border-color: #ff99ff;
